<ng-template  [ngxPermissionsOnly]="['ROLE_ADMIN','ROLE_USER', 'ROLE_CUSTOMER']">
<nav>
    <button type="button" mat-button routerLink="/home" routerLinkActive="active"><i class="material-icons">
        home
        </i>Home</button><br>
  
    <ng-template ngxPermissionsOnly="ROLE_ADMIN">
      <button type="button" mat-button routerLink="/admin" routerLinkActive="active"><i class="material-icons">
          supervised_user_circle
          </i>Admin</button><br>
    </ng-template>
  
    <ng-template ngxPermissionsOnly="ROLE_USER">
      <button type="button" mat-button routerLink="/user" routerLinkActive="active"><i class="material-icons">
          assignment_ind
          </i>User</button><br>
    </ng-template>
  
    <ng-template ngxPermissionsOnly="ROLE_CUSTOMER">
      <button type="button" mat-button routerLink="/customer" routerLinkActive="active"><i class="material-icons">
          store
          </i>Customer</button><br>
    </ng-template>
    
    <button type="button" mat-button routerLink="/logout" routerLinkActive="active"><i class="material-icons">
        exit_to_app
        </i>Logout</button>
  </nav>

</ng-template>
