<mat-card-content>
  <div class="homediv">
    <h1>
        <img src="/assets/world.png" style="max-height: 3rem; max-width: 3rem;"/>
        &nbsp;
        <a style = "text-decoration: underline; color: black;">
      Welcome to {{ title }}!
        </a>
    </h1>
    <br>
    <br>
    <p>
      This application was developed by {{ group }}:
    </p>
    <br>
    <ul class="rounded-list">
      <ul>
        <li> <a>Antonio Varvara</a> </li>
        <li> <a>Matteo Arzani</a> </li>
        <li> <a>Raffaele Sommese</a></li>
        <li> <a>Sabrina Camurati</a></li>
      </ul>
      <br>
      <br>
      <h4>
          Enjoy your experience!
      </h4>
    </ul>
    
  </div>
</mat-card-content>