<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/user" routerLinkActive="active">User</a>
    <a routerLink="/customer" routerLinkActive="active">Customer</a>
</nav>
  
  <router-outlet></router-outlet>
 
  