
<form [formGroup]="registrationForm" (ngSubmit)="submit_registration()">

<p>
<mat-input-container>
  <input type="text" matInput placeholder="Username" formControlName="username"  required>
</mat-input-container>
</p>
<div *ngIf="registrationForm.get('username').status === 'PENDING'">
    Checking...
  </div>
  <div *ngIf="registrationForm.get('username').status === 'VALID'">
    😺 Username is available!
  </div>

  <div *ngIf="registrationForm.get('username').errors && registrationForm.get('username').errors.usernameTaken">
    😢 Sorry, this username is already taken!
  </div>
  <br>
<p>
<mat-input-container matTooltip="Password length from 8 to 16">
    <input type="password" id="pwd" matInput placeholder="Password" formControlName="password" minlength="8" maxlength="16" required>
</mat-input-container>
</p>
<ng2-password-strength-bar 
          [passwordToCheck]="registrationForm.value.password"
          [barLabel]="barLabel"
          [barColors]="myColors">
</ng2-password-strength-bar>
<br>
<p>
<mat-input-container matTooltip="Confirm password must be equal to Password">
    <input type="password" id="confirmpwd" matInput placeholder="Confirm Password" formControlName="confirmpassword" required validateEqual="password">
</mat-input-container>
</p>
<br>
<input type="checkbox" (click)="showHide()">Show Password

<p *ngIf="errorMessage" class="loginError">
{{ errorMessage }}
</p>

<p class="loginButtons">
<button type="submit" mat-button [disabled]="!registrationForm.valid">Sign-up</button>
</p>

</form>



