<mat-card>  
    <mat-card-title>Customers Data</mat-card-title>
     <mat-card-content>
            ------------------------------------------<br>
        <mat-list *ngFor="let transaction of transaction$ | async; let i = index" [attr.data-index]="i">
          <h3>[Transaction #{{i+1}}]</h3><br>
          From User: {{transaction.userId}} <br>
          To Customer: {{transaction.customerId}}<br>
          Total Positions: {{transaction.nPositions}} <br> 
          Price: {{transaction.price}} <br>
          ------------------------------------------<br>
        </mat-list>
    </mat-card-content>
