.container{
    margin-top: 10vh;
}

.error{
    background-color: #de4343;
    border-color: #c43d3d;
    text-align: center;
  }
  
  .message h3{
    margin: 0 0 5px 0;                                                  
  }