<p>
  insert works!
</p>
<mat-card>
      <mat-card-title>Insert Positions</mat-card-title>
    
      <mat-card-content>
            <button mat-button  #sendButton (click)="sendPositions()">Send Positions</button>
            <button mat-button  (click)="cancel()" >Cancel</button>
      </mat-card-content>
      <mat-card-content>
          <!-- Map -->
          <div leaflet style="height: 45vh;"
          (leafletMapReady)="onMapReady($event)"
          [leafletOptions]="options"
          [leafletLayers]="layers">
          </div>
      </mat-card-content>  
  </mat-card>
